doctype html
html(lang="en")
	head
		//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		script(src='/offline/jquery-3.3.1.slim.min.js')
		script(src='/offline/popper.min.js')
		script(src='/offline/bootstrap.min.js')
		link(rel='stylesheet', href='/offline/bootstrap.min.css')
		link(rel="stylesheet" href="/offline/jquery-ui.min.css")
		//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/css/MeshViewer.css")
		script(src="/offline/popper.min.js")
		title= "Anywhere3D | Annotator"
		meta(charset= "UTF-8")
	body
		script(src="/build/Bundle.js")
		nav.navbar.fixed-top(id="navbar", style="background:#001a44; height: 60px")
			a.navbar-brand(href='',style='color:#ffffff;font-size: 20px;') &nbsp;Anywhere3D
			div(id="helper_container", style="float: right;")
				button.btn.btn-outline-info(id="control_helper", style="font-size: 16px; height: 36px; width: 120px; float: right; position: relative; margin-right: 15px; border-radius: 4px;") Tutorial
			//- 	select.form-control(id="scene_select", style="font-size: 16px; width:250px; float: left; position: relative; margin-right: 15px;")
			//- 	button.btn.btn-primary(id="submit_view", style="font-size: 16px; height: 36px; width: 120px; float: left; position: relative; margin-right: 15px; border-radius: 4px;") View
		div(id="id_div_root")

		script.
			$(window).on('load', function () {
				var viewer = null;
				viewer = new MeshViewer();
				viewer.init(!{params});
			});
